@{
    ViewData["Title"] = "Profilo";
}

<h2>@ViewBag.Email</h2>
<h3>Ultimi documenti</h3>
<ul>
    @foreach (var doc in ViewBag.RecentDocuments)
    {
        <li>@doc.Title - @doc.CreatedAt.ToString("g")</li>
    }
</ul>

