@page
@using AuthServer.Areas.Identity.Pages.Account.Manage
@model ChangePasswordModel
@{
    ViewData["Title"] = "Modifica password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="container py-4" style="max-width: 900px;">
    <div class="row mb-4">
        <div class="col text-center">
            <h2 class="mb-2">@ViewData["Title"]</h2>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Aggiorna password</h5>
                    <p class="card-text">Inserisci la password attuale e quella nuova.</p>
                    <form id="change-password-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Inserisci la tua vecchia password." />
                            <label asp-for="Input.OldPassword" class="form-label"></label>
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Inserisci la tua nuova password." />
                            <label asp-for="Input.NewPassword" class="form-label"></label>
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Conferma la tua nuova password."/>
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-50">Aggiorna password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}