@page
@using AuthServer.Pages.Account
@model ConfirmEmailModel
@{
	ViewData["Title"] = "Confirm email";
}

<div class="auth position-absolute start-50 translate-middle-x w-100 d-flex justify-content-center">
	<h1>
		@ViewData["Title"]
	</h1>
	<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
